swagger: "2.0"
info:
  title: collection-library-server-API
  description: API for collection-library-server
  version: 1.0.0
host: api.collection-library-server.com
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
definitions:
  Error:
   type: object
   properties:
      message:
        type: string
        description: Error message
   required:
    - message
   example:
      message: 'Sample error message.'
  RegisterUserRequest:
    type: object
    properties:
      email:
        type: string
        description: User email address
      password:
        type: string
        description: User password
      name:
        type: string
        description: User's name
      surname:
        type: string
        description: User's surname
      date_of_birth:
        type: string
        format: date
        description: User's date of birth
    required:
      - email
      - password
      - name
      - surname
      - date_of_birth
    example:
      email: 'uzytkownik@collection-library.pl'
      password: 'password'
      name: 'name'
      username: 'username'
      date_of_birth: '12-12-1999'
  AuthenticationRequest:
    type: object
    properties:
      e-mail:
        type: string
      password:
        type: string
    required:
      - e-mail
      - password
    example:
      e-mail: 'uzytkownik@collection-library.pl'
      password: 'password'
  Role:
    type: object
    properties:
      id:
        type: integer
        description: Role id
      function:
        type: string
        description: Role's function
  User:
    type: object
    properties:
      id:
        type: integer
        description: User id
      email:
        type: string
        description: User email address
      role:
        type: array
        items:
          $ref: '#/definitions/Role'
    required:
      - id
      - email
    example:
      id: 1
      email: 'uzytkownik@collection-library.pl'
      role:
        - id: 1
          function: 'dodawanie'
  Author:
    type: object
    properties:
      id:
        type: integer
      first_name:
        type: string
      last_name:
        type: string
    required:
      - first_name
      - last_name
  Item:
    type: object
    properties:
      id:
        type: integer
        description: Item id
      title:
        type: string
      author:
        $ref: '#/definitions/Author'
      date_of_release:
        type: string
        format: date
      publisher:
        type: string
      type:
        type: string
      genre:
        type: string
    required:
      - title
      - author
      - date_of_release
      - publisher
      - type
      - genre
    example:
      title: 'title'
      author: 'Jan Kowalski'
      date_of_release: '12-12-1996'
      publisher: 'wydawca'
      type: 'książka'
      genre: 'fantasy'
  ModifyRole:
    type: object
    properties:
      user_id:
        type: integer
        description: User's id
      role_id:
        type: integer
        description: Role's id
      function:
        type: string
        enum:
          - 'add'
          - 'delete'
    required:
      - user_id
      - role_id
      - function
    example:
      user_id: 1
      role_id: 1
      function: 'delete'
  ItemList:
    type: object
    properties:
      total:
        type: integer
        description: Size of the data
      data:
        type: array
        items:
          $ref: '#/definitions/Item'
        description: One pagination page data


paths:
  /users:
    post:
      summary: Register user.
      operationId: newUser
      description: Registration of a new user.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: New user data
          in: body
          name: body
          schema:
            $ref: '#/definitions/RegisterUserRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'

  /authenticate:
    post:
      summary: Authenticate user
      operationId: authUser
      description: Authentication of existing user
      produces:
        - application/json
      consumes:
          - application/json
      parameters:
        - description: Authentication passes
          in: body
          name: body
          schema:
           $ref: '#/definitions/AuthenticationRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
  /collection:
    get:
      summary: Retrieve data about whole collection
      operationId: getCollection
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: Number of records to return
          in: query
          name: limit
          required: true
          type: integer
        - description: Initial index
          in: query
          name: offset
          required: true
          type: integer
        - description: Phrases to search
          name: phrases
          in: query
          required: true
          type: array
      responses:
        200:
          description: Collection list
          schema:
            type: array
            items:
              $ref: '#/definitions/ItemList'






