swagger: "2.0"
info:
  title: collection-library-server-API
  description: API for collection-library-server
  version: 1.0.0
host: api.collection-library-server.com
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
definitions:
  Error:
   type: object
   properties:
      message:
        type: string
        description: Error message
   required:
    - message
   example:
      message: 'Sample error message.'
  RegisterUserRequest:
    type: object
    properties:
      email:
        type: string
        description: User email address
      password:
        type: string
        description: User password
      name:
        type: string
        description: User's name
      surname:
        type: string
        description: User's surname
      date_of_birth:
        type: string
        format: date
        description: User's date of birth
    required:
      - email
      - password
      - name
      - surname
      - date_of_birth
    example:
      email: 'uzytkownik@collection-library.pl'
      password: 'password'
      name: 'name'
      username: 'username'
      date_of_birth: '12-12-1999'
  AuthenticationRequest:
    type: object
    properties:
      e-mail:
        type: string
      password:
        type: string
    required:
      - e-mail
      - password
    example:
      e-mail: 'uzytkownik@collection-library.pl'
      password: 'password'
  Role:
    type: object
    properties:
      id:
        type: integer
        description: Role id
      function:
        type: string
        description: Role's function
    required:
      - id
      - function
  User:
    type: object
    properties:
      id:
        type: integer
        description: User id
      email:
        type: string
        description: User email address
      role:
        type: array
        items:
          $ref: '#/definitions/Role'
    required:
      - id
      - email
    example:
      id: 1
      email: 'uzytkownik@collection-library.pl'
      role:
        - id: 1
          function: 'dodawanie'
  Author:
    type: object
    properties:
      id:
        type: integer
      first_name:
        type: string
      last_name:
        type: string
    required:
      - first_name
      - last_name
  AuthorRequest:
    type: object
    properties:

      first_name:
        type: string
      last_name:
        type: string
    required:
      - first_name
      - last_name
  Item:
    type: object
    properties:
      id:
        type: integer
        description: Item id
      title:
        type: string
      author:
        $ref: '#/definitions/Author'
      date_of_release:
        type: string
        format: date
      publisher:
        type: string
      type:
        type: string
      genre:
        type: string
    required:
      - title
      - author
      - date_of_release
      - publisher
      - type
      - genre
    example:
      title: 'title'
      author: 'Jan Kowalski'
      date_of_release: '12-12-1996'
      publisher: 'wydawca'
      type: 'książka'
      genre: 'fantasy'

  ItemRequest:
    type: object
    properties:
      title:
        type: string
      author:
        $ref: '#/definitions/AuthorRequest'
      date_of_release:
        type: string
        format: date
      publisher:
        type: string
      type:
        type: string
      genre:
        type: string
    required:
      - title
      - author
      - date_of_release
      - publisher
      - type
      - genre
    example:
      title: 'title'
      author: 'Jan Kowalski'
      date_of_release: '12-12-1996'
      publisher: 'wydawca'
      type: 'książka'
      genre: 'fantasy'

  ModifyRole:
    type: object
    properties:
      user_id:
        type: integer
        description: User's id
      role_id:
        type: integer
        description: Role's id
      function:
        type: string
        enum:
          - 'add'
          - 'delete'
    required:
      - user_id
      - role_id
      - function
    example:
      user_id: 1
      role_id: 1
      function: 'delete'
  ItemList:
    type: object
    properties:
      total:
        type: integer
        description: Size of the data
      data:
        type: array
        items:
          $ref: '#/definitions/Item'
        description: One pagination page data
  CollectionLibraryRequest:
    type: object
    properties:
      item_id:
        type: integer
        description: Item id to add
      shelf:
        type: string
        enum:
          - 'Have'
          - 'Want to have'
        description: Shelf on which item is added
    required:
      - item_id
      - shelf
  ItemRentalRequest:
    type: object
    properties:
      item_id:
        type: integer
        description: Item to rent id
      duration:
        type: integer
        description: Number of days for which item is rented
    required:
      - item_id
      - duration
  UserItemRental:
    type: object
    properties:
      item_id:
        type: integer
        description: Item to rent id
      end:
        type: string
        format: date
        description: Number of days for which item is rented
    required:
      - item_id
      - end
  UserItemRentalList:
    type: object
    properties:
      total:
        type: integer
        description: Size of the data
      data:
        type: array
        items:
          $ref: '#/definitions/UserItemRental'
        description: One pagination page data
  AdminToUserMessage:
    type: object
    properties:
      user_id:
        type: integer
        description: Target user id
      text:
        type: string
        description: Message
    required:
      - user_id
      - text

  Suggestion:
    type: object
    properties:
      suggestion_id:
        type: integer
        description: Id of the suggestion
      item_to_add:
        $ref: '#/definitions/ItemRequest'
        description: Data of item
  UserSuggestionList:
    type: object
    properties:
      total:
        type: integer
        description: Size of the data
      data:
        type: array
        items:
          $ref: '#/definitions/Suggestion'
        description: One pagination page data
paths:
  /users:
    post:
      summary: Register user.
      operationId: newUser
      description: Registration of a new user.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: New user data
          in: body
          name: body
          schema:
            $ref: '#/definitions/RegisterUserRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
  /authenticate:
    post:
      summary: Authenticate user
      operationId: authUser
      description: Authentication of existing user
      produces:
        - application/json
      consumes:
          - application/json
      parameters:
        - description: Authentication passes
          in: body
          name: body
          schema:
           $ref: '#/definitions/AuthenticationRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
  /user/{id}/addrole:
    put:
      summary: Add role to user.
      operationId: addRole
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Add role to user
          in: path
          name: id
          required: true
          type: integer
        - description: Role
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Role'
      responses:
        204:
          description: Success
  /user/{id}/removerole:
    put:
      summary: Remove role from user.
      operationId: removeRole
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Remove role from user
          in: path
          name: id
          required: true
          type: integer
        - description: Role
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Role'
      responses:
        204:
          description: Success

  /collection:
    get:
      summary: Retrieve data about whole collection
      operationId: getCollection
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: Number of records to return
          in: query
          name: limit
          required: true
          type: integer
        - description: Initial index
          in: query
          name: offset
          required: true
          type: integer
        - description: Phrases to search
          name: phrases
          in: query
          required: true
          type: array
      responses:
        200:
          description: Collection list
          schema:
            type: array
            items:
              $ref: '#/definitions/ItemList'
    post:
      summary: Add item of collection
      operationId: addItem
      parameters:
        - description: New item data.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ItemRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Item'
  /library:
    post:
      summary: Add item to library.
      operationId: postLibrary
      parameters:
        - description: Item library data.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CollectionLibraryRequest'
      responses:
        204:
          description: Success
  /item/rentRequest:
    post:
      summary: Rent an item.
      operationId: rentRequest
        - description: Role
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ItemRentalRequest'
      responses:
        204:
          description: Success
  /rentals:
    get:
      summary: Retrieve data about whole rentals
      operationId: getUserRentalsList
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: Number of records to return
          in: query
          name: limit
          required: true
          type: integer
        - description: Initial index
          in: query
          name: offset
          required: true
          type: integer
        - description: Phrases to search
          name: phrases
          in: query
          required: true
          type: array
      responses:
        200:
          description: User rental list
          schema:
            type: array
            items:
              $ref: '#/definitions/UserItemRentalList'
  /user/message:
    post:
      summary: Send message to user.
      operationId: messageSend
      parameters:
        - description: Target userId and text.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AdminToUserMessage'
      responses:
        204:
          description: Success
  /item/{id}/remove:
    delete:
      summary: Remove item from library.
      operationId: removeItem
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Remove item from library
          in: path
          name: id
          required: true
          type: integer
      responses:
        204:
          description: Success
  /rental/{id}/accept:
    put:
      summary: Accept item rental.
      operationId: putRentalIdAccept
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Rental id
          in: path
          name: id
          required: true
          type: integer
      responses:
        204:
          description: Success
  /rental/{id}/reject:
    put:
      summary: Reject item rental.
      operationId: putRentalIdReject
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Rental id
          in: path
          name: id
          required: true
          type: integer
      responses:
        204:
          description: Success
  /suggest:
    post:
      summary: Create suggestions.
      operationId: postSuggeston
      parameters:
        - description: Item library data.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ItemRequest'
      responses:
        204:
          description: Success
  /suggestion/{id}/accept:
    put:
      summary: Accept suggestion.
      operationId: putSuggestionIdAccept
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Suggestion id
          in: path
          name: id
          required: true
          type: integer
      responses:
        204:
          description: Success
  /suggestion/{id}/reject:
    put:
      summary: Reject suggestion.
      operationId: putSuggestionIdReject
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - description: Suggestion id
          in: path
          name: id
          required: true
          type: integer
      responses:
        204:
          description: Success
  /suggestion:
    get:
      summary: Retrieve data about whole suggestions
      operationId: getSuggestionList
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - description: Number of records to return
          in: query
          name: limit
          required: true
          type: integer
        - description: Initial index
          in: query
          name: offset
          required: true
          type: integer
        - description: Phrases to search
          name: phrases
          in: query
          required: true
          type: array
      responses:
        200:
          description: User suggestion list
          schema:
            type: array
            items:
              $ref: '#/definitions/UserSuggestionList'
